@use "../abstracts" as *;

.intro {
  position: relative;
  padding: 10rem 0 5rem 0;
  overflow: hidden;
  &__bg {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transform: translate(20%, -20%) scale(1.5);
    width: clamp(300px, 38vw, 1000px);
    img {
      width: 100%;
    }
  }
  &__small__bg {
    width: 80%;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform: translateX(55%);
    @include media($md) {
      display: none;
    }
  }
  .container {
    @include media($md) {
      flex-direction: row-reverse;
    }
  }
  &__img {
    width: 100%;
    @include media($md) {
      width: 50%;
    }
  }
}
