@use "../abstracts" as *;

.simplify {
  background-color: $b-Red;
  position: relative;
  padding-block: 4rem;
  overflow: hidden;
  .container {
    text-align: center;
    position: relative;
    z-index: 1;
    @include flex(center, center, column);
    @include media($md) {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    img {
      height: 100%;
    }
    &--desk {
      display: none;
      @include media($md) {
        display: block;
        object-fit: cover;
        width: calc(100% + 15vh);
      }
    }
    &--mob {
      @include media($md) {
        display: none;
      }
    }
  }
}
