@use "../abstracts" as *;

.primary__btn {
  background-color: $b-Red;
  color: $v-l-gray;
  font-weight: 700;
  padding: 0.8rem 2rem;
  border-radius: 25px;
  &:hover {
    background-color: lighten($b-Red, 10%);
  }
}
%shadow {
  place-items: center;
  position: relative;
  margin: auto;
  box-shadow: 0 8px 10px 0 rgb($b-Red, 0.5);
}
.header__btn {
  display: none;
  @extend %shadow;
  @include media($lg) {
    display: grid;
  }
}

.intro__btn {
  display: grid;
  @extend %shadow;
  @include media($md) {
    margin: 0;
  }
}

.simplify__btn {
  color: $b-Red;
  font-weight: 700;
  padding: 0.7rem 2rem;
  background-color: $white;
  margin-top: 1.5rem;
  border-radius: 21px;
  &:hover {
    background-color: $v-pale-blue;
    color: lighten($b-Red, 20%);
  }
  @include media($md) {
    margin-top: 0;
  }
}
.footer__btn {
  text-transform: uppercase;
}
