@use "./variables" as *;
@use "./breakpoints" as *;

@mixin flex($just, $align, $dir) {
  display: flex;
  justify-content: $just;
  align-items: $align;
  flex-direction: $dir;
}
@mixin trans {
  transition: 0.25s;
}
@mixin media($wd) {
  @media (min-width: $wd) {
    @content;
  }
}
