$b-Red: hsl(12, 88%, 59%);
$d-blue: hsl(228, 39%, 23%);
$d-grayish-blue: hsl(227, 12%, 61%);
$v-d-blue: hsl(233, 12%, 13%);
$v-pale-blue: hsl(13, 100%, 96%);
$v-l-gray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

$font: "Be Vietnam Pro", sans-serif;
